<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DN Book Store</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <link rel="shortcut icon" th:href="@{/css/images/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" media="all"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet"
          type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/yes-style.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/button.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/yesUI.css}" type="text/css">
</head>
<body>

<!-- Header -->
<div id="header" class="shell">
    <div id="logo"><h1><a th:href="@{/}">BestSeller</a></h1><span></span></div>
    <!-- Navigation -->

    <!-- End Navigation -->
    <div class="cl">&nbsp;</div>
    <!-- Login-details -->
    <div id="login-details">
        <p>Welcome, <a th:href="@{/account}" id="user" th:text="${member}">Guest</a> .</p>
        <p><a th:href="@{/cart}" class="cart"><img th:src="@{/css/images/cart-icon.png}" alt=""/></a>
            <em th:text="${'Shopping Cart (' + cartTotal + ')'}"></em>
            <a th:href="@{/cart}" class="sum" th:text="${#numbers.formatInteger(cartTotalPrice,0,'COMMA') + '₩'}"></a>
        </p>
    </div>
    <!-- End Login-details -->
</div>
<!-- End Header -->
<!-- Main -->
<div id="main" class="shell">
    <!-- 테이블 상단 -->
    <div>
        <form th:action="@{/admin/productManager}" method="get">
            <table>
                <tbody>
                <tr>
                    <td>검색</td>
                    <td>
                        <label>
                            <select th:name="searchCriteria">
                                <option th:value="id" th:text="번호"></option>
                                <option th:value="username" th:text="제목"></option>
                                <option th:value="name" th:text="작가"></option>
                                <option th:value="phone" th:text="출판사"></option>
                            </select>
                        </label>
                        <label>
                            <input type="text" name="keyword" th:value="${keyword}">
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>승인여부</td>
                    <td>
                        <div>
                            <input type="radio" id="entire" th:value="null" name="enabled" checked>
                            <label for="entire">전체</label>
                            <input type="radio" id="true" th:value="true" name="enabled">
                            <label for="entire">승인</label>
                            <input type="radio" id="false" th:value="false" name="enabled">
                            <label for="entire">미승인</label>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <input type="submit">
        </form>
    </div>
    <!-- 테이블 상단 끝 -->
    <!-- 제품 정보 테이블 -->
    <form method="post" th:action="@{/admin/productManager}" th:object="${bookForm}">
        <table width="100%" class="tb_nor tb_cart">
            <colgroup>
                <col width="30">
                <col width="30">
                <col width="200">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="60">
                <col width="60">
                <col width="60">
                <col width="60">
                <col width="50">
            </colgroup>
            <thead>
            <tr bgcolor="#cfcfcf">
                <th scope="col" class="txt">번호</th>
                <th scope="col" class="txt">승인</th>
                <th scope="col" class="txt">상품명</th>
                <th scope="col" class="txt">작가</th>
                <th scope="col" class="txt">출판사</th>
                <th scope="col" class="txt">가격</th>
                <th scope="col" class="txt">창고재고</th>
                <th scope="col" class="txt">주문대기</th>
                <th scope="col" class="txt">기재고</th>
                <th scope="col" class="txt">재고수정</th>
                <th scope="col" class="txt">관리</th>
            </tr>
            </thead>
            <tbody>
            <tr style="text-align: center" th:each="book, i : ${books}">
                <td class="le"><input type="hidden" th:field="*{books[__${i.index}__].id}" th:name="id" th:value="${book.id}"><span th:text="${book.id}"></span></input></td>
                <td class="le" th:text="${book.enabled}"></td>
                <td class="le" th:text="${book.title}"></td>
                <td class="le" th:text="${book.author}"></td>
                <td class="le" th:text="${book.publisher}"></td>
                <td class="le" th:text="${book.price}"></td>
                <td class="le" th:text="${book.stock}"></td>
                <td class="le" th:text="${book.preparingStock}"></td>
                <td class="le" th:text="${book.stock - book.preparingStock}"></td>
                <td>
                    <label>
                        <input style="text-align: center" type="text" th:field="*{books[__${i.index}__].stock}" name="stock" th:value="${book.stock}">
                    </label>
                </td>
                <td>
                    <a class="btn_blue w_50" th:href="@{/admin/productManager/update(id=${book.id})}" th:text="수정"></a>
                </td>
            </tr>
            </tbody>
        </table>
        <button class="btn_blue w_80" type="submit" th:text="일괄수정"></button>
    </form>
</div>
<!-- End Main-->
</body>
</html>