
.settleTopArea {
    position: relative;
    margin: 0 auto 35px;
    width: 960px;
    min-height: 42px;
}

.settleTopArea * {
    font-family: '맑은 고딕', 'Malgun Gothic', 'Apple SD Gothic Neo', AppleGothic, '돋움', Dotum, '굴림', Gulim, Helvetica, sans-serif;
}

.settleTopArea .settleStep {
}

.settleTopArea .settleStep ol {
}

.settleTopArea .settleStep ol li {
    position: relative;
    float: left;
    width: 100px;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    color: #196ab3;
    text-align: center;
    background-color: #ebf3f8;
}

.settleTopArea .settleStep ol li:after {
    content: '';
    position: absolute;
    right: -18px;
    top: 0;
    z-index: 10;
    width: 18px;
    height: 42px;
    background: url('/sysimage/orderN/bit_stepOff.png') no-repeat left top;
}

.settleTopArea .settleStep ol li em.txt {
    display: block;
    padding-left: 18px;
}

.settleTopArea .settleStep ol li.firstCol em.txt {
    padding-left: 9px;
}

.settleTopArea .settleStep ol li.lastCol em.txt {
    padding-left: 9px;
}

.settleTopArea .settleStep ol li.lastCol:after {
    display: none;
}

.settleTopArea .settleStep ol li.on {
    z-index: 2;
    background-color: #196ab3;
}

.settleTopArea .settleStep ol li.on em.txt {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Noto Sans KR', '맑은 고딕' !important;
}

.settleTopArea .settleStep ol li.on:after {
    background-image: url('/sysimage/orderN/bit_stepOn.png');
}

.settleTopArea .bnMemJoin {
    position: absolute;
    right: 0;
    top: 0;
}

.settleTopArea .settleAccount {
    position: absolute;
    right: 0;
    top: 0;
}

.settleTopArea .settleAccount dt {
    float: left;
    margin-right: 2px;
    padding: 7px 0;
    width: 42px;
    line-height: 14px;
    font-size: 11px;
    color: #196ab3;
    font-weight: bold;
    text-align: center;
    border-radius: 3px;
    background-color: #ebf3f8;
}

.settleTopArea .settleAccount dd {
    float: left;
}

.settleTopArea .settleAccount dd ul {
    height: 42px;
}

.settleTopArea .settleAccount dd ul li {
    float: left;
    margin-right: 2px;
    padding: 7px 6px 0;
    height: 35px;
    _height: 42px;
    line-height: 14px;
    font-size: 11px;
    color: #333;
    font-weight: normal;
    text-align: center;
    border-radius: 3px;
    background-color: #f8f8f8;
}

.settleTopArea .settleAccount dd ul li span {
    display: block;
    color: #999;
}

.settleTopArea .settleAccount dd ul li.yBClub {
    margin-right: 0;
}

.settleSortArea {
    position: relative;
    margin: 0 auto;
    width: 960px;
    min-height: 30px;
}

.settleSortArea.sortTop {
    padding-bottom: 15px;
    border-bottom: solid 1px #ebebeb;
}

.settleSortArea.sortBot {
    margin-top: 15px;
    padding-bottom: 25px;
}

.settleSortArea * {
    font-family: '맑은 고딕', 'Malgun Gothic', 'Apple SD Gothic Neo', AppleGothic, '돋움', Dotum, '굴림', Gulim, Helvetica, sans-serif;
}

.settleSortArea .sortLft {
    line-height: 30px;
    font-size: 14px;
    color: #333;
    font-weight: normal;
}

.settleSortArea .sortLft .btnC .bWrap em.txt {
    font-weight: normal;
}

.settleSortArea .sortLft .txt_des {
    margin-right: 15px;
}

.settleSortArea .sortLft .yesChk {
    margin-right: 15px;
}

.settleSortArea .sortLft .yesChk label {
    padding-top: 5px;
    font-size: 14px;
    font-weight: normal;
    color: #333;
}

.settleSortArea .sortLft .yesChk label .ico_yesChk {
    top: 5px;
}

.settleSortArea .sortLft .yesChk input.iptChk {
    top: 7px;
}

.settleSortArea .sortLft .btnC {
    margin: 0 1px 0 0;
}

.settleSortArea .sortRgt {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 30px;
    font-size: 12px;
    color: #666;
}

.settleCartGrp {
    position: relative;
    margin: 35px auto 0;
    width: 960px;
    min-height: 30px;
}

.settleCartGrp * {
    font-family: '맑은 고딕', 'Malgun Gothic', 'Apple SD Gothic Neo', AppleGothic, '돋움', Dotum, '굴림', Gulim, Helvetica, sans-serif;
}

.settleCartGrp .radioTabBlkGrp.tab_dawn a.tab {
    padding: 0;
    width: 139px;
}

.settleCartGrp .radioTabBlkGrp.tab_dawn a.tab .ico.ico_new {
    position: relative;
    z-index: 2;
    margin-right: 4px;
    width: 12px;
    height: 11px;
    vertical-align: -1px;
    _vertical-align: -2px;
    background-position: -180px -100px;
}

.settleCartGrp .yesTb table.tb_nor.tb_cart thead th {
    border-right: none;
    font-weight: normal;
}

.settleCartGrp .yesTb table.tb_nor.tb_cart tfoot td.tot {
    padding: 10px 19px 10px;
    line-height: 20px;
    text-align: right;
    border-right: none;
    font-weight: normal;
    color: #666;
    background-color: #f8f8f8;
}

.settleCartGrp .yesTb table.tb_nor.tb_cart tfoot td.tot strong.cost {
    font-weight: bold;
    font-size: 14px;
    color: #333;
}

.settleCartGrp .yesTb table.tb_nor.tb_cart tbody td {
    padding: 20px 0;
    border-right: none;
}

.settleCartGrp .yesTb table.tb_nor.tb_cart tbody td.cb {
    vertical-align: top;
}

.settleCartGrp .yesTb table.tb_nor.tb_cart tbody td.goods_img {
    vertical-align: top;
}

.settleCartGrp .yesTb table.tb_nor.tb_cart tbody td.goods_img a.pd_a {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    overflow: hidden;
    text-align: left;
    vertical-align: top;
}

.settleCartGrp .yesTb table.tb_nor.tb_cart tbody td.goods_img a.pd_a {
    position: relative;
}

.settleCartGrp .yesTb table.tb_nor.tb_cart tbody td.goods_img a.pd_a:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border: solid 1px rgba(0, 0, 0, 0.07);
}

.settleCartGrp .yesTb table.tb_nor.tb_cart tbody td.goods_img a.pd_a .ico {
    position: absolute;
    right: 0;
    bottom: 0;
    line-height: 0;
    font-size: 0;
    color: transparent;
}

.settleCartGrp .yesTb table.tb_nor.tb_cart tbody td.goods_img a.pd_a .ico.ico_eBook {
    width: 50px;
    height: 50px;
    background: url('/sysimage/reNew/common/ico_eBook.svg?v=0804a') no-repeat left top;
}

.settleCartGrp .yesTb table.tb_nor.tb_cart tbody td.goods_img a.pd_a .ico.ico_audio {
    width: 50px;
    height: 50px;
    background: url('/sysimage/reNew/common/ico_audio.svg?v=0804a') no-repeat left top;
}

.settleCartGrp .yesTb table.tb_nor.tb_cart tbody td.goods_img a.pd_a img.pdimg {
    margin: -1px;
    width: 82px;
    max-height: 130px;
}

.settleCartGrp .yesTb table.tb_nor.tb_cart tbody td.le {
    padding-top: 12px;
    vertical-align: top;
}

.settleCartGrp .yesTb table.tb_nor.tb_cart tbody td.le .goods_keynote {
    margin-top: 8px;
    font-size: 0;
    line-height: 0;
}

.settleCartGrp .yesTb table.tb_nor.tb_cart tbody td.le .goods_keynote .iconC {
    margin-right: 4px;
}

.settleCartGrp .yesTb table.tb_nor.tb_cart tbody td.le .goods_name {
    margin-top: 7px;
    line-height: 18px;
    font-size: 13px;
}

.settleCartGrp .yesTb table.tb_nor.tb_cart tbody td.le .goods_name a {
    line-height: 18px;
    font-size: 13px;
    color: #333;
}

.settleCartGrp .yesTb table.tb_nor.tb_cart tbody td.le .goods_name .ico_nWin {
    margin: 5px 0 0 2px;
    width: 10px;
    height: 9px;
    background-position: -40px -300px;
}

.settleCartGrp .yesTb table.tb_nor.tb_cart tbody td.le .goods_num {
    margin-top: 5px;
    line-height: 20px;
    font-size: 12px;
    color: #333;
}

.settleCartGrp .yesTb table.tb_nor.tb_cart tbody td.le .goods_num .yes_m {
    font-family: '맑은 고딕', 'Malgun Gothic', 'Apple SD Gothic Neo', AppleGothic, '돋움', Dotum, '굴림', Gulim, Helvetica, sans-serif !important;
}

.settleCartGrp .yesTb table.tb_nor.tb_cart tbody td.le .goods_num .dash_price {
    color: #999;
    text-decoration: line-through;
}

.settleCartGrp .yesTb table.tb_nor.tb_cart tbody td.le .goods_num .nor_price {
    color: #333;
}

.settleCartGrp .yesTb table.tb_nor.tb_cart tbody td.le .goods_num .goods_benefit {
    margin-right: 6px;
    color: #333;
}

.settleCartGrp .yesTb table.tb_nor.tb_cart tbody td.le .goods_num .goods_point {
    color: #333;
}

.settleCartGrp .yesTb table.tb_nor.tb_cart tbody td.le .goods_num .goods_point .ico_point {
    width: 13px;
    height: 13px;
    vertical-align: -2px;
    background-position: -30px 0;
}

.settleCartGrp .yesTb table.tb_nor.tb_cart tbody td.le .goods_gift {
    margin-top: 13px;
    line-height: 18px;
    color: #6699cc;
}

.settleCartGrp .yesTb table.tb_nor.tb_cart tbody td.le .goods_gift + .goods_opt {
    margin-top: 5px;
}

.settleCartGrp .yesTb table.tb_nor.tb_cart tbody td.le .goods_opt {
    margin-top: 13px;
    line-height: 18px;
    color: #999;
}

.settleCartGrp .yesTb table.tb_nor.tb_cart tbody td.le .goods_opt + .goods_opt {
    margin-top: 3px;
}

.settleCartGrp .yesTb table.tb_nor.tb_cart tbody td.le .goods_opt .optRow + .optRow:before {
    content: ' | ';
    font-size: 12px;
    font-family: 'Dotum', '돋움', 'AppleGothic', serif;
    color: #ccc;
}

.settleCartGrp .yesTb table.tb_nor.tb_cart tbody td.le .goods_opt a.btn_opt {
    color: #6699cc;
    text-decoration: underline;
    white-space: nowrap;
}

.settleCartGrp .yesTb table.tb_nor.tb_cart tbody td.le .goods_revised {
    margin-top: 13px;
    color: #ff6666;
}

.settleCartGrp .yesTb table.tb_nor.tb_cart tbody td.le .goods_soldOut {
    margin-top: 13px;
    color: #ff6666;
}

.settleCartGrp .yesTb table.tb_nor.tb_cart tbody td.le .goods_soldOut .ico_comm {
    vertical-align: middle;
}

.settleCartGrp .yesTb table.tb_nor.tb_cart tbody td.le .goods_soldOut .btnC {
    vertical-align: middle;
}

.settleCartGrp .yesTb table.tb_nor.tb_cart tbody td.goods_count {
    padding-left: 10px;
    padding-right: 10px;
}

.settleCartGrp .yesTb table.tb_nor.tb_cart tbody td.goods_count .opt_num {
    position: relative;
    display: block;
    border: solid 1px #ebebeb;
}

.settleCartGrp .yesTb table.tb_nor.tb_cart tbody td.goods_count .opt_num .opt_ipt {
    display: block;
    width: 36px;
}

.settleCartGrp .yesTb table.tb_nor.tb_cart tbody td.goods_count .opt_num input {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 23px;
    line-height: 23px;
    font-size: 12px;
    color: #666;
    text-align: center;
    border: none;
    vertical-align: top;
}

.settleCartGrp .yesTb table.tb_nor.tb_cart tbody td.goods_count .opt_num a {
    position: absolute;
    right: -1px;
    top: -1px;
    padding: 2px;
    width: 7px;
    height: 7px;
    font-size: 0;
    line-height: 0;
    border: solid 1px #ebebeb;
    background-color: #fff;
}

.settleCartGrp .yesTb table.tb_nor.tb_cart tbody td.goods_count .opt_num a .bgYUI {
    width: 7px;
    height: 7px;
}

.settleCartGrp .yesTb table.tb_nor.tb_cart tbody td.goods_count .opt_num a.plus .bgYUI {
    background-position: -130px -270px;
}

.settleCartGrp .yesTb table.tb_nor.tb_cart tbody td.goods_count .opt_num a.minus {
    top: 11px;
}

.settleCartGrp .yesTb table.tb_nor.tb_cart tbody td.goods_count .opt_num a.minus .bgYUI {
    background-position: -130px -260px;
}

.settleCartGrp .yesTb table.tb_nor.tb_cart tbody td.goods_count .opt_num.readOnly {
    border-color: #fff;
}

.settleCartGrp .yesTb table.tb_nor.tb_cart tbody td.goods_count .opt_num.readOnly .opt_ipt {
    width: 100%;
}

.settleCartGrp .yesTb table.tb_nor.tb_cart tbody td.goods_count .opt_num.readOnly a {
    display: none;
}

.settleCartGrp .yesTb table.tb_nor.tb_cart tbody td.goods_count .btnC {
    margin: 4px 0 0;
}

.settleCartGrp .yesTb table.tb_nor.tb_cart tbody td.goods_price {
    text-align: center;
}

.settleCartGrp .yesTb table.tb_nor.tb_cart tbody td.goods_price .price_txt {
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.settleCartGrp .yesTb table.tb_nor.tb_cart tbody td .dvmsg .msg_act {
    font-size: 14px;
    color: #333;
    font-weight: bold;
}

.settleCartGrp .yesTb table.tb_nor.tb_cart tbody td .dvmsg .iconC_dbl {
    display: block;
    margin: 5px auto 0;
    text-align: center;
}

.settleCartGrp .yesTb table.tb_nor.tb_cart tbody td.goods_order {
    vertical-align: top;
}

.settleCartGrp .yesTb table.tb_nor.tb_cart tbody td.goods_order .btnC.btn_wSizeF + .btn_wSizeF {
    margin-top: 4px;
}

.settleBookSum.tot_gd02 {
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 19px;
    font-family: '맑은 고딕', 'Malgun Gothic', 'Apple SD Gothic Neo', AppleGothic, '돋움', Dotum, '굴림', Gulim, Helvetica, sans-serif;
}

.settleBookSum.tot_gd02 * {
    font-family: '맑은 고딕', 'Malgun Gothic', 'Apple SD Gothic Neo', AppleGothic, '돋움', Dotum, '굴림', Gulim, Helvetica, sans-serif;
}

.tm_grp .tm_help {
    position: absolute;
    right: 0;
    bottom: 13px;
    line-height: 20px;
    color: #666;
    font-size: 12px;
    text-align: right;
}

.tm_grp .tm_help .ico_comm.ico_help {
    margin: 2px 0 0 1px;
}

.radioTabBlkGrp {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    text-align: left;
    vertical-align: top;
}

.radioTabBlkGrp {
    position: relative;
    height: 28px;
    font-size: 0;
    line-height: 0;
    border-radius: 15px;
    white-space: nowrap;
    border: solid 1px #d8d8d8;
}

.radioTabBlkGrp a.tab {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    text-align: left;
    vertical-align: top;
}

.radioTabBlkGrp a.tab:hover {
    text-decoration: none;
    color: #000;
}

.radioTabBlkGrp a.tab {
    position: relative;
    margin-right: -8px;
    padding: 0 18px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border-radius: 15px;
    font-size: 12px;
    color: #333;
    font-weight: bold;
}

.radioTabBlkGrp a.tab .txt {
    position: relative;
    z-index: 2;
    color: #333;
}

.radioTabBlkGrp a.tab.lastCol {
    margin-right: 0;
}

.radioTabBlkGrp a.tab.tabOn:before {
    content: '';
    position: absolute;
    left: -1px;
    top: -1px;
    right: -1px;
    bottom: -1px;
    z-index: 1;
    border-radius: 15px;
    border: solid 1px #333;
    background-color: #333;
}

.radioTabBlkGrp a.tab.tabOn .txt {
    color: #fff;
}


/* image repleace main */
.bgCartPos {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
    vertical-align: top;
    background: url('/sysimage/orderN/bgCartPos.png') no-repeat left top;
}

/* 기본 이미지 태체 태그 */
* html .bgCartPos {
    text-indent: 0 !important;
    line-height: 0 !important;
    font-size: 0 !important;
    overflow: hidden !important;
}

/*ie6 hack */
*:first-child + html .bgCartPos {
    text-indent: 0 !important;
    line-height: 0 !important;
    font-size: 0 !important;
    overflow: hidden !important;
}

/*ie7 hack */

.cartPosWingArea {
    position: relative;
    margin: 0 auto;
    width: 960px;
}

.cartPosWingArea * {
    font-family: '맑은 고딕', 'Malgun Gothic', 'Apple SD Gothic Neo', AppleGothic, '돋움', Dotum, '굴림', Gulim, Helvetica, sans-serif;
}

.cartPosWingArea img {
    vertical-align: top;
}

.cartPosWingArea .cartPosWing {
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: 500px;
}

.cartPosWingArea.fixed .cartPosWing {
    position: fixed;
    top: 30px;
    z-index: 100;
}

.cartPosWingArea .cartPosWing ul {
    width: 68px;
    text-align: center;
    border: solid 1px #d8d8d8;
    border-top: none;
    background-color: #fff;
}

.cartPosWingArea .cartPosWing ul li {
    position: relative;
    z-index: 1;
    border-top: solid 1px #d8d8d8;
}

.cartPosWingArea .cartPosWing ul li a {
    display: block;
    position: relative;
    padding: 8px 0 7px 0;
}

.cartPosWingArea .cartPosWing ul li a:hover {
    text-decoration: none;
}

.cartPosWingArea .cartPosWing ul li a .bgCartPos {
    position: relative;
    z-index: 2;
    display: block;
    margin: 0 auto;
    width: 60px;
    height: 32px;
}

.cartPosWingArea .cartPosWing ul li a .bgCartPos.ico_deli01 {
    background-position: 0 0;
}

.cartPosWingArea .cartPosWing ul li a .bgCartPos.ico_deli02 {
    background-position: -100px 0;
}

.cartPosWingArea .cartPosWing ul li a .bgCartPos.ico_deli03 {
    background-position: -200px 0;
}

.cartPosWingArea .cartPosWing ul li a .bgCartPos.ico_deli04 {
    background-position: 0 0;
}

.cartPosWingArea .cartPosWing ul li a em.txt {
    position: relative;
    z-index: 2;
    display: block;
    margin-top: 5px;
    line-height: 16px;
    font-size: 11px;
    color: #666;
}

.cartPosWingArea .cartPosWing ul li.on {
    z-index: 2;
    background-color: #6699cc;
}

.cartPosWingArea .cartPosWing ul li.on a .bgCartPos.ico_deli01 {
    background-position: 0 -50px;
}

.cartPosWingArea .cartPosWing ul li.on a .bgCartPos.ico_deli02 {
    background-position: -100px -50px;
}

.cartPosWingArea .cartPosWing ul li.on a .bgCartPos.ico_deli03 {
    background-position: -200px -50px;
}

.cartPosWingArea .cartPosWing ul li.on a .bgCartPos.ico_deli04 {
    background-position: 0 -50px;
}

.cartPosWingArea .cartPosWing ul li.on a em.txt {
    color: #fff;
}

.cartPosWingArea .cartPosWing ul li.on:before {
    content: '';
    position: absolute;
    left: -1px;
    top: -1px;
    right: -1px;
    bottom: -1px;
    background-color: #6699cc;
}

.cartPosWingArea .cartPosWing ul li:hover {
    z-index: 2;
    background-color: #6699cc;
}

.cartPosWingArea .cartPosWing ul li:hover a .bgCartPos.ico_deli01 {
    background-position: 0 -50px;
}

.cartPosWingArea .cartPosWing ul li:hover a .bgCartPos.ico_deli02 {
    background-position: -100px -50px;
}

.cartPosWingArea .cartPosWing ul li:hover a .bgCartPos.ico_deli03 {
    background-position: -200px -50px;
}

.cartPosWingArea .cartPosWing ul li:hover a .bgCartPos.ico_deli04 {
    background-position: 0 -50px;
}

.cartPosWingArea .cartPosWing ul li:hover a em.txt {
    color: #fff;
}

.cartPosWingArea .cartPosWing ul li:hover:before {
    content: '';
    position: absolute;
    left: -1px;
    top: -1px;
    right: -1px;
    bottom: -1px;
    background-color: #6699cc;
}

/* 재정의 */
.benefitDlArea * {
    font-family: '맑은 고딕', 'Malgun Gothic', 'Apple SD Gothic Neo', AppleGothic, '돋움', Dotum, '굴림', Gulim, Helvetica, sans-serif;
}

.dlvifo_w.dlvifo_renew * {
    font-family: '맑은 고딕', 'Malgun Gothic', 'Apple SD Gothic Neo', AppleGothic, '돋움', Dotum, '굴림', Gulim, Helvetica, sans-serif;
}

.dlvifo_w.dlvifo_renew .dlvifo_tw {
    padding: 20px 0 0 0;
    width: 130px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    vertical-align: top;
}

.msg_cart {
    clear: both;
    padding-top: 10px;
}

.msg_cart * {
    font-family: '맑은 고딕', 'Malgun Gothic', 'Apple SD Gothic Neo', AppleGothic, '돋움', Dotum, '굴림', Gulim, Helvetica, sans-serif;
}