<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DN Book Store</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <link rel="shortcut icon" th:href="@{/css/images/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" media="all"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet"
          type="text/css"/>

</head>
<body>

<!-- Header -->
<div id="header" class="shell">
    <div id="logo"><h1><a th:href="@{/}">BestSeller</a></h1><span></span></div>
    <!-- Navigation -->
    <div id="navigation">
        <ul>
            <li><a th:href="@{/}" class="active">Home</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Contacts</a></li>
            <li>
                <form th:action="@{/search}" id="searchForm" th:object="${searchForm}">
                    <select id="type" name="type" title="검색 유형 선택">
                        <option value="5">통합 검색</option>
                        <option value="1">제목</option>
                        <option value="2">저자</option>
                        <option value="3">출판사</option>
                    </select>
                    <label for="param"></label>
                    <input type="text" id="param" name="param">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </li>

        </ul>
    </div>
    <!-- End Navigation -->
    <div class="cl">&nbsp;</div>
    <!-- Login-details -->
    <div id="login-details">
        <p>Welcome, <a th:href="@{/account}" id="user" th:text="${member}">Guest</a> .</p>
        <p><a th:href="@{/cart}" class="cart"><img th:src="@{/css/images/cart-icon.png}" alt=""/></a>
            <em th:text="${'Shopping Cart (' + cartTotal + ')'}"></em>
            <a th:href="@{/cart}" class="sum" th:text="${#numbers.formatInteger(cartTotalPrice,0,'COMMA') + '₩'}"></a>
        </p>
    </div>
    <!-- End Login-details -->
</div>
<!-- End Header -->
<!-- Main -->
<div id="main" class="shell">
    <!-- Sidebar -->
    <div id="sidebar">
        <ul class="categories">
            <li>
                <h4>Categories</h4>
                <ul>
                    <li th:each="category : ${categories}">
                        <a th:href="@{/shop/search(param=${category.id},type=4)}" th:text="${category.category}"></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- end sidebar -->
    <!-- content -->
    <div id="content">
        <!-- products -->
        <div class="products">
            <h3>best sellers</h3>
            <ul>
                <li th:each="display : ${displays}">
                    <div class="product">
                        <a th:href="@{/shop/product?itemId={id}(id = ${display.id})}" class="info">
                            <span class="holder">
                                <img th:src="@{/images/{filename}(filename = ${display.imageFileName})}" alt="">
                                <span class="book-name" th:text="${display.title}"></span>
                                <span class="author" th:text="${display.author}"></span>
                                <span class="description" th:text="${display.description}"></span>
                            </span>
                            <span class="buy-btn">구매가
                                <span class="price"
                                      th:text="${#numbers.formatInteger(display.price,3,'COMMA') + '₩'}"></span>
                            </span>
                        </a>
                    </div>
                </li>
            </ul>
            <!-- end products -->
        </div>
        <div class="cl">&nbsp;</div>
    </div>
    <!-- End Content -->
    <div class="cl">&nbsp;</div>
</div>
<!-- End Main -->
</body>
</html>