<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DN Book Store</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <link rel="shortcut icon" th:href="@{/css/images/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" media="all"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet"
          type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/yes-style.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/button.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/yesUI.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/renewHack.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/settle_dawn.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/yesCom.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/newStyle.css}" type="text/css">
</head>
<body>

<!-- Header -->
<div id="header" class="shell">
    <div id="logo"><h1><a th:href="@{/}">BestSeller</a></h1><span></span></div>
    <!-- Navigation -->
    <div id="navigation">
        <ul>
            <li><a th:href="@{/}" class="active">Home</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Contacts</a></li>
            <li>
                <form th:action="@{/search}" id="searchForm" th:object="${searchForm}">
                    <select id="type" name="type" title="검색 유형 선택">
                        <option value="5">통합 검색</option>
                        <option value="1">제목</option>
                        <option value="2">저자</option>
                        <option value="3">출판사</option>
                    </select>
                    <label for="param"></label>
                    <input type="text" id="param" name="param">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </li>
        </ul>
    </div>
    <!-- End Navigation -->
    <div class="cl">&nbsp;</div>
    <!-- Login-details -->
    <div id="login-details">
        <p>Welcome, <a href="#" id="user" th:text="${member}">Guest</a> .</p>
        <p><a th:href="@{/cart}" class="cart"><img th:src="@{/css/images/cart-icon.png}" alt=""/></a>
            <em th:text="${'Shopping Cart (' + cartTotal + ')'}"></em>
            <a th:href="@{/cart}" class="sum" th:text="${#numbers.formatInteger(cartTotalPrice,3,'COMMA') + '₩'}"></a>
        </p>
    </div>
    <!-- End Login-details -->
</div>
<!-- End Header -->
<!-- Main -->
<div id="main" class="shell">
    <div id="wrapperContent">
        <form name="frmCartList" method="post" action="/cart">
            <div id="divCart">
                <div id="pos_deliNor" class="settleCartGrp">
                    <div class="tm_grp">
                        <h3 class="tmM_txt dp_ib mgr15">
                            <em class="tit_txt">
                                <strong>카트</strong>
                            </em>
                        </h3>
                    </div>
                    <div class="yesTb">
                        <table width="100%" class="tb_nor tb_cart">
                            <colgroup>
                                <col width="40">
                                <col width="100">
                                <col width="*">
                                <col width="70">
                                <col width="120">
                                <col width="170">
                                <col width="0">
                            </colgroup>
                            <thead>
                            <tr>
                                <th colspan="3" scope="col" class="txt">상품정보</th>
                                <th scope="col" class="txt">수량</th>
                                <th scope="col" class="txt">상품금액</th>
                                <th scope="col" class="txt lastCol">주문</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item : ${cart}">
                                <td class="cb"></td>
                                <td class="goods_img">
                                    <a th:href="@{/shop/product(itemId=${item.itemId})}" target="_new" class="pd_a">
                                        <em class="ico"></em>
                                        <img th:src="@{/images/{fileName}(fileName = ${item.fileName})}" alt
                                             class="pdimg"/>
                                    </a>
                                </td>
                                <td class="le">
                                    <div class="goods_name">
                                        <a th:href="@{/shop/product(itemId=${item.itemId})}" class="pd_a"
                                           th:text="${item.title}">
                                        </a>
                                    </div>
                                    <div class="goods_num">
                                        <span class="nor_price">
                                            <em class="yes_m"
                                                th:text="${#numbers.formatInteger(item.price,3,'COMMA') + '원'}"></em>
                                        </span>
                                        <span class="goods_point">
                                            <em class="bgYUI ico_point">포인트</em>
                                            <em th:text="${#numbers.formatInteger(item.point,3,'COMMA') + '원'}"></em>
                                        </span>
                                    </div>
                                </td>
                                <td class="goods_count">
                                    <span class="opt_num">
                                        <span class="opt_ipt">
                                            <label for="count"></label>
                                            <input id="count" type="number" name="count" min="1" maxlength="4"
                                                   th:value="${item.amount}" form="changeCount">
                                            <br>
                                        </span>
                                    </span>
                                </td>
                                <td class="goods_price">
                                    <strong class="price_txt"
                                            th:text="${#numbers.formatInteger(item.price * item.amount,3,'COMMA') + '원'}"></strong>
                                </td>
                                <td class="goods_order">
                                    <a href="#" class="btnC btn_wSizeF btn_blue">
                                        <span class="bWrap">
                                            <em class="txt">주문하기</em>
                                        </span>
                                    </a>
                                    <button type="submit" class="btnC btn_wSizeF s_size"
                                            th:formaction="@{/cart/delete(itemId=${item.itemId})}">
                                        <span class="bWrap">
                                            <em class="txt">삭제</em>
                                        </span>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="7" class="tot">
                                    상품 총 금액 :
                                    <strong id="lblTotalAmountCart" class="cost"
                                            th:text="${#numbers.formatInteger(total.totalPrice,3,'COMMA') + '원'}"></strong>
                                    <span class="dvi"> | </span>
                                    포인트 총 적립액 :
                                    <strong id="lblTotalPointCart" class="cost"
                                            th:text="${#numbers.formatInteger(total.totalPoint,3,'COMMA') + '원'}"></strong>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="settleSortArea sortBot">
                    <div class="sortLft">
                        <span class="txt_des">전체상품</span>
                        <a href="#" class="btnC w_80 btn_blue">
                            <span class="bWrap">
                                <em class="txt">주문하기</em>
                            </span>
                        </a>
                        <button type="submit" class="btnC w_50" form="changeCount">
                                        <span class="bWrap">
                                            <em class="txt">수량변경</em>
                                        </span>
                        </button>
                        <button type="submit" class="btnC w_50" th:formaction="@{/cart/deleteAll}">
                            <span class="bWrap">
                                <em class="txt">삭제</em>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <form id="changeCount" th:action="@{/cart/amount}" method="post">
        </form>
    </div>
</div>
<!-- End Main-->
</body>
</html>
